@import "tailwindcss";

/* Enable class-based dark mode for Tailwind v4 */
@variant dark (&:where(.dark, .dark *));

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s linear infinite;
}

@layer utilities {

  /* Custom thin scrollbar for categories */
  .custom-scrollbar::-webkit-scrollbar {
    height: 5px;
    /* Height for horizontal scrollbar */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
    /* slate-100 */
    border-radius: 10px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    /* slate-300 */
    border-radius: 10px;
    transition: all 0.3s ease;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
    /* slate-600 */
  }
}

@layer base {
  :root {
    /* Permanent Dark Mode */
    --background: #09090b;
    --foreground: #ffffff;
    --primary: #8b5cf6; /* violet-500 */
    --primary-hover: #7c3aed; /* violet-600 */
    --card: #141417;
  }
}